
<h2> HOW TO ARTIFACT: AN INTRODUCTION </h2><br><br>

<h3> Welcome to HowtoArtifact! </h3><br>

<p>Our website is dedicated to everything Artifact: player guides, strategy discussions, marketplace
research, anything that is related to the game! Our goal is to help players gain a better
understanding of Artifact, so that you can improve your skills and maximize the value of your in-
game expenses, while having fun in your journey through this unique and intriguing game!</p><br>

<H3> What is Artifact, again?</H3><br>

<p>Officially released to the world on 28 November 2018, Artifact is Valve’s latest title, an online
trading card game based on the characters and lore of the DotA universe. They created this game
in collaboration with Richard Garfield, the mastermind behind various card and board games,
including the all-too-famous Magic: the Gathering.
An uprising contender to Hearthstone and other existing counterparts, Artifact strives to stay true to
its MOBA origins with a myriad of mechanics never seen before in card games, such as three
separate boards resembling DotA’s three lanes, a starting formation of 5 heroes on each side, and
an in-game item shop.

Artifact also stands out in the digital card game scene for its in-game economy. With Artifact, Valve
is completely eschewing the free-to-play model adopted by the likes of Hearthstone, and instead
aims for a trading-based economy similar to that of physical card games. The game itself has an
entry cost of $20, which includes two starter decks and 10 booster packs as the foundation of your
collection. From this point, you cannot earn cards and packs by completing daily quests, but there
are several options to expand your collection: you can buy booster packs for $2 each, you can
enter in-game events to win rewards, or you can buy or sell individual cards on the Steam
marketplace. Not to mention, you can enjoy Artifact in various other ways without having to spend
a dime other than your initial $20!</p><br>

<H3> Sounds a bit too much… where do I begin? </H3><br>

<p>During the months leading up to Artifact’s release, there have been some concerns about the
game, namely that it is “too complicated” and “too expensive”. These claims are definitely
justifiable, given that the community hasn’t had much hands-on experience with the game (besides
livestreams and limited beta access), and that Artifact has several elements that may seem
unfamiliar even to the most experienced card game player. But fear not – that is exactly the reason
we’re here! As you (and the rest of the community) take your first steps into the Artifact world upon
its release, we’ll do our best to guide you through the way – from comprehensive beginner’s
guides, to advanced gameplay discussion, Constructed and Draft strategies, as well as
marketplace updates! Whether you are a veteran who spent ten years collecting cards, a DotA
enthusiast looking for a new way to explore the game’s fictional universe, or a complete fledgling
without such prior experience at all, you will surely find some value in our content, and hopefully
realize that Artifact is more enjoyable, affordable, and most importantly more fun, than it may seem
at first sight!</p><br>

<H3> Where else can I find you guys? </H3><br>

<p>Besides this website, you can also find us on Twitter (https://twitter.com/howtoartifact) for the latest
news updates!

In the near future, not only will we produce content for HowtoArtifact, but we’ll also introduce more
functions to enrich your Artifact experience to the maximum! Stay tuned to hear more from us!
In the meantime, you can immediately jump in for part one of our Artificer’s Apprentice Guide!
Good luck and have fun, fellow Artificers!</p>