@import 'variable';
@import 'grid';

/*----------------------------------------------------------------------------*/
/*---- Show post ----*/
/*----------------------------------------------------------------------------*/


.post_container{
  padding-left: 30px;
  padding-right: 30px;
}

.post_title{
  font-size:2em;
  font-weight: bold;
  height:auto;
}

.post_snippet{
  color: $home_post_snippet_color;
  text-indent: 30px;
  text-align : justify;
}
.post_body{
  padding-top:30px;
  ext-align : justify;
}