@import 'variable';

// top_nav
top_nav {
  background-color: $top_nav_background;
  width: 100%;
  position: fixed;
  right: 0;
  overflow-y: hidden;
  height: $top_nav_height;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  z-index: 5;
  @media only screen and (max-width: $side_width) {
    width: 100%;
  }
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
  // State
  &.top_nav_up {
    top: (-$top_nav_height);
  }

  .top_nav_logo {
    cursor: pointer;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
  }

  .top_nav_container {
    alignment: center;
    max-width: $side_width;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .top_nav_button {
    font-family: 'Source Sans Pro', sans-serif;
    height:100%;
    float: right;
    background-color: $top_nav_button_background;
    border: none;
    color: $top_nav_button_font_color;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .top_nav_button:hover {
    background-color: $top_nav_button_hover;
    color: $top_nav_button_font_color;
  }
}



