<div class = 'page_footer'>
  <div class = 'footer_container'>
    <div class = 'footer_left'>
        User Agreement | Privacy Policy | Contact Us
    </div>
    <div class = 'footer_right'>
      Copyright © 2018 HowToArtifact | All Rights Reserved
    </div>
  </div>
</div>